body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

header {
  background: #0f3460;
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  background: #1a1a2e;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #e94560;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background: #ff2e63;
}

.order-section {
  background: #16213e;
  padding: 20px;
  margin-top: 30px;
}

input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.payment {
  margin-top: 20px;
  background: #0f3460;
  padding: 10px;
  border-radius: 8px;
}